@import '../../styles/abstract/mixins';

.label {
    font-size: 2.2rem;
}

.form {
    position: relative;
}

.location-input {
    display: flex;
    align-items: center;
}

.locator {
    font-size: 3rem;
}

.error-msg {
    color: #be222f;
    text-align: right;
}

.btn {
    width: 73vw;
    height: 3rem;
    color: #ced9df;
    background: #1292d6;
    border: none;

    @include respond(md) {
        width: 50rem;
    }
}