@import '../../styles/abstract/mixins';

.label {
    font-size: 2.2rem;
}

.form {
    position: relative;

    &-content {
        width: 80vw;
    }
}

.location-input {
    display: flex;
    align-items: center;
}

.locator {
    font-size: 3rem;
    margin: 0 0.5rem;
}

.error-msg {
    color: #be222f;
    text-align: right;
}

.btn {
    width: 80vw;
    height: 3.5rem;
    color: #ced9df;
    background: #1292d6;
    border: none;
    font-size: 1.75rem;
    text-transform: uppercase;
    margin-top: 0.5rem;
    font-weight: 700;


    @include respond(md) {
        // width: 50rem;
    }
}